[submodule "archeti/cavavin"]
	path = archeti/cavavin
	url = git@gitlab.com:archeti/cavavin.git
	branch = staging
[submodule "archeti/trolec"]
	path = archeti/trolec
	url = git@gitlab.com:archeti/trolec.git
    branch = staging
